<a href="https://colab.research.google.com/github/Anchal07-colab/Anchal1207/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
print("sum:", a+b+c)

sum: 30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=7
b=2.7
c="anchal"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=20
b=10
print("addition:", a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division:", a/b)

addition: 30
subtraction: 10
multiplication: 200
division: 2.0

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
string="123"
integer=int (string)
float=float(string)
print("String:",string)
print("Integer:",integer)
print("Float:",float)

String: 123
Integer: 123
Float: 123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
string_value = "anchal"
first_char = string_value[:1]
print("First character:", first_char)

First character: a

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
string_value = "anchal"
length = len(string_value)
print("Length of the string:", length)

Length of the string: 6

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
string = "Smiley"
if string.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string contains non-alphabets.")

The string contains only alphabets.

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
string1 = "Radha"
string2 = "Krishna"
concatenated_string = string1 + " " + string2
print("Concatenated string:", concatenated_string)

Concatenated string: Radha Krishna

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
string = "abcefgh"
substring = "abc"
index = string.find(substring)
print("Index of the substring:", index)

Index of the substring: 0

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
string = "radha"
print("Uppercase: ",string.upper())
print("Lowercase: ",string.lower())

Uppercase:  RADHA
Lowercase:  radha

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
string = "radha"
character = "a"
count = string.count(character)
print("Count of the character:", count)

Count of the character: 2

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name = "radha"
print(f"Hello, {name}! Good Morning")

Hello, radha! Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a= 20
b= 20
print("sum :", a+b)

sum : 40

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = "anchal"
age = "20"
formatted_string = f"Hello, {name}! You are {age} years old"
print("Formatted-string:", formatted_string)

Formatted-string: Hello, anchal! You are 20 years old

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
# Taking input from the user
number = float(input("Enter a number: "))

# Checking whether the number is positive, negative, or zero
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 7
The number is positive.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
def maximum(a,b,c):
    list=[a,b,c]
    list.sort()
    return list[-1]
a=7
b=20
c=17
print(maximum(a,b,c))

20

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
import calendar
year=2004
if  calendar.isleap(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2004 is a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
n=50
for i in range(0,n):
    if i%15==0:
        print(i,end=" ")

0 15 30 45

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
str="Anchal"
strstr =str.casefold()
#This string is reverse
rev=reversed(str)
if list(str)==list(rev):
    print("PALINDROME !")
else:
    print("PALINDROME !")

PALINDROME !

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
print("Print numbers 1 to 10 using for loop:")
for i in range(1,11):
    print(i)

Print numbers 1 to 10 using for loop:
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
print("Even numbers:")
for num in range(1,21):
   if num  % 2 == 0:
      print(num)

Even numbers:
2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
# Taking input from the user
number = int(input("Enter a number to print its multiplication table: "))

# Loop to print the multiplication table
for i in range(1, 11):  # Loop from 1 to 10
    print(f"{number} x {i} = {number * i}")

Enter a number to print its multiplication table: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number (n) to calculate the sum of all numbers from 1 to n: "))

sum_of_numbers = 0
i = 1

while i <= n:
    sum_of_numbers += i
    i += 1

print(f"The sum of all numbers from 1 to {n} is: {sum_of_numbers}")

Enter a number (n) to calculate the sum of all numbers from 1 to n: 4
The sum of all numbers from 1 to 4 is: 10

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
# Taking input from the user
n = int(input("Enter a number to calculate its factorial: "))

# Initialize factorial to 1
factorial = 1

# Ensure the number is non-negative
if n < 0:
    print("Factorial does not exist for negative numbers.")
else:
    # While loop to calculate factorial
    i = 1
    while i <= n:
        factorial *= i
        i += 1  # Increment the counter

    # Output the result
    print(f"The factorial of {n} is: {factorial}")

Enter a number to calculate its factorial: 7
The factorial of 7 is: 5040

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
# Taking input from the user
n = int(input("Enter the number of terms for Fibonacci sequence: "))

# Initialize the first two terms
a, b = 0, 1

# Print the Fibonacci sequence up to n terms
print("Fibonacci sequence up to", n, "terms:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b  # Update a and b to the next two terms

Enter the number of terms for Fibonacci sequence: 4
Fibonacci sequence up to 4 terms:
0 1 1 2

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):  # Check divisibility from 2 to sqrt(num)
        if num % i == 0:
            return False
    return True

# Loop through numbers from 1 to 100
prime_numbers = []
for number in range(1, 101):
    if is_prime(number):
        prime_numbers.append(number)

# Print all the prime numbers between 1 and 100
print("Prime numbers between 1 and 100:", prime_numbers)

Prime numbers between 1 and 100: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
# Taking input from the user
number = input("Enter a number: ")

# Initialize sum to 0
sum_of_digits = 0

# Loop through each digit in the number
for digit in number:
    # Add the integer value of the digit to sum_of_digits
    sum_of_digits += int(digit)

# Print the sum of digits
print(f"The sum of the digits is: {sum_of_digits}")

Enter a number: 7
The sum of the digits is: 7

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
# Loop through numbers from 1 to 20
for number in range(1, 21):
    # Skip even numbers
    if number % 2 == 0:
        continue
    # Print the odd numbers
    print(number)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
# Taking input from the user
input_string = input("Enter a string: ")
char_to_count = input("Enter the character to count: ")

# Initialize a counter variable
count = 0

# Loop through each character in the string
for char in input_string:
    # If the current character matches the character to count, increment the counter
    if char == char_to_count:
        count += 1

# Print the result
print(f"The character '{char_to_count}' appears {count} times in the string.")

Enter a string: hello
Enter the character to count: hii
The character 'hii' appears 0 times in the string.

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
# Taking input from the user
number = input("Enter a number: ")

# Initialize sum to 0
sum_of_digits = 0

# Loop through each digit in the number
for digit in number:
    # Add the integer value of the digit to sum_of_digits
    sum_of_digits += int(digit)

# Print the sum of digits
print(f"The sum of the digits is: {sum_of_digits}")

Enter a number: 2
The sum of the digits is: 2

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
# Creating a list of integers
numbers = [10, 20, 30, 40, 50]

# Calculating the sum of the elements in the list
sum_of_elements = sum(numbers)

# Printing the sum
print("The sum of the elements in the list is:", sum_of_elements)

The sum of the elements in the list is: 150

In [ ]:
# Write a Python program to find the largest element in a list.
# Creating a list of integers
numbers = [10, 20, 30, 40, 50, 60, 70]

# Finding the largest element using the max() function
largest_element = max(numbers)

# Printing the largest element
print("The largest element in the list is:", largest_element)

The largest element in the list is: 70

In [ ]:
# Write a Python program to reverse a list.
# Creating a list
numbers = [10, 20, 30, 40, 50]

# Reversing the list using slicing
reversed_list = numbers[::-1]

# Printing the reversed list
print("The reversed list is:", reversed_list)

The reversed list is: [50, 40, 30, 20, 10]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
# Creating a list
numbers = [10, 20, 30, 20, 40, 20, 50]

# Element to remove
element_to_remove = 20

# Removing all occurrences of the element
numbers = [num for num in numbers if num != element_to_remove]

# Printing the updated list
print("The updated list is:", numbers)

The updated list is: [10, 30, 40, 50]

In [ ]:
# Write a Python program to find the index of an element in a list.
# Creating a list
numbers = [10, 20, 30, 40, 50]

# Element to find
element_to_find = 30

# Finding the index of the element
if element_to_find in numbers:
    index = numbers.index(element_to_find)
    print(f"The index of {element_to_find} is: {index}")
else:
    print(f"{element_to_find} is not found in the list.")

The index of 30 is: 2

In [2]:
# Write a Python program to find if a specific element exists in a list.
# Creating a list
numbers = [10, 20, 30, 40, 50]

# Element to check
element_to_check = 40

# Checking if the element exists in the list
if element_to_check in numbers:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

40 exists in the list.

In [3]:
# Write a Python program to remove duplicates from a list.
# Creating a list with duplicates
numbers = [10, 20, 30, 20, 40, 50, 30, 50, 60]

# Removing duplicates using set
unique_numbers = list(set(numbers))

# Printing the list without duplicates
print("The list without duplicates is:", unique_numbers)

The list without duplicates is: [40, 10, 50, 20, 60, 30]

In [4]:
# Write a Python program to count the occurrences of an element in a list.
# Creating a list
numbers = [10, 20, 30, 20, 40, 50, 20, 30]

# Element to count occurrences of
element_to_count = 20

# Counting the occurrences of the element
occurrences = numbers.count(element_to_count)

# Printing the number of occurrences
print(f"The element {element_to_count} appears {occurrences} times in the list.")

The element 20 appears 3 times in the list.

In [5]:
# Write a Python program to get the number of even numbers in a list.
# Creating a list
numbers = [10, 21, 32, 43, 54, 65, 76, 87, 98]

# Counting the even numbers
even_count = sum(1 for num in numbers if num % 2 == 0)

# Printing the number of even numbers
print(f"The number of even numbers in the list is: {even_count}")

The number of even numbers in the list is: 5

In [6]:
# Write a Python program to create a tuple and print it.
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Printing the tuple
print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30, 40, 50)

In [7]:
# Write a Python program to convert a tuple to a list and vice versa.
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Converting tuple to list
tuple_to_list = list(my_tuple)
print("Tuple to List:", tuple_to_list)

# Creating a list
my_list = [100, 200, 300, 400, 500]

# Converting list to tuple
list_to_tuple = tuple(my_list)
print("List to Tuple:", list_to_tuple)

Tuple to List: [10, 20, 30, 40, 50]
List to Tuple: (100, 200, 300, 400, 500)

In [8]:
# Write a Python program to find the maximum and minimum values in a tuple.
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50, 60)

# Finding the maximum value in the tuple
max_value = max(my_tuple)

# Finding the minimum value in the tuple
min_value = min(my_tuple)

# Printing the results
print("The maximum value in the tuple is:", max_value)
print("The minimum value in the tuple is:", min_value)

The maximum value in the tuple is: 60
The minimum value in the tuple is: 10

In [9]:
# Write a Python program to unpack a tuple into variables.
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Unpacking the tuple into variables
a, b, c, d, e = my_tuple

# Printing the unpacked variables
print("Unpacked values:")
print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)

Unpacked values:
a = 10
b = 20
c = 30
d = 40
e = 50

In [10]:
# Write a Python program to add an element to a set and check if an element exists in the set.
# Creating a set
my_set = {10, 20, 30, 40, 50}

# Adding an element to the set
my_set.add(60)

# Printing the updated set
print("Updated set:", my_set)

# Element to check
element_to_check = 30

# Checking if the element exists in the set
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Updated set: {50, 20, 40, 10, 60, 30}
30 exists in the set.

In [12]:
# Write a Python program to create a dictionary with keys and values and print it.
# Creating a dictionary with keys and values
my_dict = {
    "name": "Anchal",
    "age": 20,
    "city": "Hyderabad",
    "job": "Engineer"
}

# Printing the dictionary
print("The dictionary is:", my_dict)

The dictionary is: {'name': 'Anchal', 'age': 20, 'city': 'Hyderabad', 'job': 'Engineer'}

In [13]:
# Write a Python program to access a dictionary value using a key.
# Creating a dictionary with keys and values
my_dict = {
    "name": "Anchal",
    "age": 20,
    "city": "Hyderabad",
    "job": "Engineer"
}

# Key to access the value
key_to_access = "age"

# Accessing the value using the key
value = my_dict.get(key_to_access)

# Printing the value
print(f"The value associated with the key '{key_to_access}' is: {value}")

The value associated with the key 'age' is: 20

In [15]:
# Write a Python program to check if a key exists in a dictionary.
# # Creating a dictionary with keys and values
my_dict = {
    "name": "Lalshmi",
    "age": 42,
    "city": "New York",
    "job": "Engineer"
}

# Key to check
key_to_check = "age"

# Checking if the key exists in the dictionary
if key_to_check in my_dict:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'age' exists in the dictionary.

In [18]:
# Write a Python program to merge two dictionaries.
# Creating two dictionaries
dict1 = {
    "name": "radha",
    "age": 20
}

dict2 = {
    "city": "Hyderabad",
    "job": "Engineer"
}

# Merging the dictionaries
merged_dict = {**dict1, **dict2}

# Printing the merged dictionary
print("Merged dictionary:", merged_dict)

Merged dictionary: {'name': 'radha', 'age': 20, 'city': 'Hyderabad', 'job': 'Engineer'}

In [20]:
# Write a Python program to remove a key from a dictionary.
# Creating a dictionary with keys and values
my_dict = {
    "name": "radha",
    "age": 27,
    "city": "New York",
    "job": "Engineer"
}

# Key to remove
key_to_remove = "age"

# Removing the key using del
if key_to_remove in my_dict:
    del my_dict[key_to_remove]
    print(f"The key '{key_to_remove}' has been removed.")
else:
    print(f"The key '{key_to_remove}' does not exist in the dictionary.")

# Printing the updated dictionary
print("Updated dictionary:", my_dict)

The key 'age' has been removed.
Updated dictionary: {'name': 'radha', 'city': 'New York', 'job': 'Engineer'}

In [22]:
# Write a Python program to get the number of keys in a dictionary.
# Creating a dictionary with keys and values
my_dict = {
    "name": "anchal",
    "age": 20,
    "city": "canada",
    "job": "Engineer"
}

# Getting the number of keys in the dictionary
num_keys = len(my_dict)

# Printing the number of keys
print("The number of keys in the dictionary is:", num_keys)

The number of keys in the dictionary is: 4

In [23]:
# Write a Python program to find the largest and smallest values in a dictionary.
# Creating a dictionary with keys and values
my_dict = {
    "a": 10,
    "b": 20,
    "c": 5,
    "d": 40,
    "e": 15
}

# Finding the largest value
largest_value = max(my_dict, key=my_dict.get)

# Finding the smallest value
smallest_value = min(my_dict, key=my_dict.get)

# Printing the largest and smallest values and their corresponding keys
print("The largest value is:", my_dict[largest_value], "which is associated with key:", largest_value)
print("The smallest value is:", my_dict[smallest_value], "which is associated with key:", smallest_value)

The largest value is: 40 which is associated with key: d
The smallest value is: 5 which is associated with key: c

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [25]:
# Write a Python function that returns the square of a number.
def square(number):
    return number ** 2

In [26]:
# Write a Python function that accepts two parameters and returns their sum.
def add(a, b):
    return a + b

In [27]:
# Write a Python function to check if a given number is prime.
def is_prime(n):
    # Check if n is less than 2
    if n <= 1:
        return False
    # Check for factors from 2 to sqrt(n)
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

In [28]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    # Base case: factorial of 0 or 1 is 1
    if n == 0 or n == 1:
        return 1
    # Recursive case: n * factorial of (n - 1)
    else:
        return n * factorial(n - 1)

In [29]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
    # Base case: anything raised to the power of 0 is 1
    if exponent == 0:
        return 1
    # Recursive case: base * power of (base, exponent - 1)
    elif exponent > 0:
        return base * power(base, exponent - 1)
    # Handling negative exponent: return 1 / (base * power(base, -exponent - 1))
    else:
        return 1 / power(base, -exponent)

In [30]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_length(lst):
    count = 0
    for item in lst:
        count += 1
    return count

In [31]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional_args(*args, **kwargs):
    # Sum the positional arguments
    total = sum(args)
    print(f"The sum of positional arguments is: {total}")

In [32]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def max_of_two(**kwargs):
    # Extract the two values from keyword arguments
    num1 = kwargs.get('num1')
    num2 = kwargs.get('num2')

    if num1 is None or num2 is None:
        return "Both 'num1' and 'num2' must be provided"

    # Return the maximum of the two numbers
    return max(num1, num2)

In [33]:
# Write a Python function that accepts a list of numbers and returns their product.
def product_of_numbers(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product

In [34]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [35]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [38]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["anchal", "radha", "sonam", "yash", "kaashvi", "nilam"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['anchal', 'radha', 'sonam', 'kaashvi', 'nilam']

In [41]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
text = "Hello World, Anchal is a good girl!"
uppercase_letters = [char for char in text if char.isupper()]
print(uppercase_letters)

['H', 'W', 'A']

In [42]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci(n):
    fib = [0, 1]  # Starting values for Fibonacci sequence
    [fib.append(fib[-2] + fib[-1]) for _ in range(2, n)]  # Generate Fibonacci numbers
    return fib[:n]

# Example usage
n = 8
fib_numbers = fibonacci(n)
print(fib_numbers)

[0, 1, 1, 2, 3, 5, 8, 13]

In [43]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
numbers = [1, 2, 3, 4, 5]
squares_dict = {x: x**2 for x in numbers}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [44]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]

# Create a dictionary using dictionary comprehension
dictionary = {keys[i]: values[i] for i in range(len(keys))}
print(dictionary)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [45]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
cubes_dict = {x: x**3 for x in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [46]:
# Write a Python program to square each element of a list using the map() function.
# Original list
numbers = [1, 2, 3, 4, 5]

# Use map() to square each element in the list
squared_numbers = list(map(lambda x: x**2, numbers))

# Print the result
print(squared_numbers)

[1, 4, 9, 16, 25]

In [47]:
# Write a Python program to filter all even numbers from a list using the filter() function.
# Original list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter() to filter even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

# Print the result
print(even_numbers)

[2, 4, 6, 8, 10]

In [48]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
# Lambda function to check if a number is divisible by both 3 and 5
is_divisible_by_3_and_5 = lambda x: x % 3 == 0 and x % 5 == 0

# Test the lambda function
print(is_divisible_by_3_and_5(15))  # Output: True
print(is_divisible_by_3_and_5(10))  # Output: False
print(is_divisible_by_3_and_5(30))  # Output: True

True
False
True

In [49]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
# Original list
numbers = [1, 2, 3, 4, 5]

# Use map() with a lambda function to multiply each number by 2
doubled_numbers = list(map(lambda x: x * 2, numbers))

# Print the result
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [50]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [1, 2, 3, 4, 3, 5, 3, 6]

# Element to be removed
element_to_remove = 4

# Remove all occurrences of the element using list comprehension
filtered_list = [x for x in numbers if x != element_to_remove]

# Print the result
print(filtered_list)

[1, 2, 3, 3, 5, 3, 6]

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`